*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    margin: 1rem 1rem;
}

#form button{
    background-color: #04AA6D;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form-control{
    padding: 0 1rem 1rem 1rem;
}
body h1{
    padding-top: 1rem;
}

#container h1{
    padding: 1rem;
}

#dados-func{
    padding: 1rem;
}

.funcionario{
    padding: 1rem;
}